GEMINI_API_KEY=AIzaSyBlunIAr_y-_TyCQkBFcuzcceEMC88LNaU
VITE_SUPABASE_URL=https://wcnkecjftkhlnkbuosqz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndjbmtlY2pmdGtobG5rYnVvc3F6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczOTQ1OTcsImV4cCI6MjA5Mjk3MDU5N30.FZ4KGeoHxt8AWlpZcmxW1H-NJChcxkwjQk60767Hqcs
